#skills {
    background: white;
    top:-5%;
    transform:rotate(4deg);
    height: 410px;
    margin-top: 400px;
    width: calc(100% + 40px);
    left: -20px;
    z-index: 2;
    position: relative;
}

#skills .container {
    transform:rotate(-4deg);
    display: grid;
}

#skills .carousel {
    margin-top: -8%;
    perspective: 60vw;
}

#skills .carousel .indicators{
    background: #f0a842;
}