#about {
    background: white;
    transform:rotate(4deg);
    padding-bottom: 9%;
    width: calc(100% + 40px);
    left: -20px;
    z-index: 2;
    position: relative;
}

#about .container {
    transform:rotate(-4deg);
    display: grid;
}

@media screen and (max-width: 500px) {
    #about .container {
        padding: 0 10px;
    }
}