#about {
    background: white;
    transform:rotate(4deg);
    padding-bottom: 9%;
    width: calc(100% + 40px);
    left: -20px;
    z-index: 2;
}

#about .container {
    transform:rotate(-4deg);
    display: grid;
}