#header {
    width: 100%;
    height: 600px;
}

#header .card {
    width: 50%;
    position: absolute;
    top: 25%;
    right: 25%;
    margin: 0;
    background: rgba(255,255,255,0.1);
    color: white;
    border-radius: 50% / 10%;
}

#header .card .card-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header .card .card-content .card-title { 
    font-size: 35px;
}