#header {
    width: 100%;
    height: 800px;
}

#header .card {
    width: 60%;
    position: absolute;
    top: 35%;
    right: 20%;
    margin: 0;
    background: rgba(255,255,255,0.1);
    color: white;
    border-radius: 50% / 10%;
}

#header .card .card-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header .card .card-content .card-title { 
    font-size: 50px;
}

#header .card p {
    font-size: 20px;
}