#navbar {
    background: rgba(255,255,255,0.1);
    position: fixed;
    z-index: 100;
}

nav ul a {
    color: red;
    font-weight: bold;
}

nav ul a:hover {
    background: black;
}

nav .brand-logo {
    padding: 0 1rem;
    background: red;
    left: 0;
    transform: translateX(0%);;
}

