#navbar {
    background: rgba(0,0,0, 0.4);
    position: fixed;
    z-index: 100;
}

nav ul button{
    color: white;
    font-weight: bold;
    border: none;
    padding: 0 15px;
    background: none;
    height: 64px;
}

nav ul li:hover {
    background: rgba(0,0,0, 0.5);
}

nav ul button:focus {
    background: none;
}

nav .brand-logo {
    padding: 0 1%;
    left: 0;
    transform: translateX(0%);;
}

@media screen and (max-width: 600px) {
    nav ul button{
        padding: 0 7.5px;
        height: 56px;
    }
}