#navbar {
    background: rgba(0,0,0, 0.4);
    position: fixed;
    z-index: 100;
}

nav ul button{
    color: white;
    font-weight: bold;
    border: none;
    padding: 0 15px;
    background: none;
    height: 65px;
}

nav ul button:hover {
    background: rgba(0,0,0, 0.5);
}

nav ul button:focus {
    background: none;
}

nav .brand-logo {
    padding: 0 1rem;
    left: 0;
    transform: translateX(0%);;
}

