footer {
    padding: 40px 0;
    font-size: 12px;
    text-align: center;
    background: #40198A;
    border-top: 8px solid #f0a842;
    height: 100px;
    margin-top: 200px;
    text-align: left;
    color: white;
  }

  .container {
    font-weight: bold;
  }

.linkcon {
    float: right;
    margin-left: 20px;
    color: white;
    margin-top: -20px;
}

.linkcon:hover {
  transform: scale(1.40);;
}