footer {
    padding: 10px 0 20px 0;
    font-size: 12px;
    text-align: center;
    background: rgba(0,0,0, 0.4);
    border-top: 8px solid #f0a842;
    margin-top: 150px;
    text-align: left;
    color: white;
    z-index: 2;
  }

  footer h4 {
    text-align: center;
  }

  .container {
    font-weight: bold;
  }

.linkcon {
    float: right;
    margin-left: 20px;
    color: white;
    margin-top: -20px;
}

.linkcon:hover {
  transform: scale(1.40);;
}