html, body {
    overflow-x: hidden !important;
    image-rendering: -webkit-optimize-contrast;
}

body {
    margin: auto;
    padding: 0px;
    background-color: #561fb9;
}

div#tsparticles {
    width: 100%;
    height: 100%;
    position: fixed;
}