html, body {
    height: 100%;
}
body {
    margin: auto;
    padding: 0px;
    background: url("http://bestanimations.com/Nature/Fire/fire-animated-gif-4.gif");
    background-repeat: repeat-y;
    background-size: 100%;
    overflow-x: hidden;
}
